@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.page {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.form {
	background-color: black;
	color: white;
	height: 100vh;
}

.mood {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.name {
	font-size: 10rem;
}
.icon {
	width: 350px;
	height: 350px;
}

